@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Urbanist:wght@400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #090c1b;
  line-height: 1.7;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Urbanist', sans-serif;
  line-height: 1.15;
}
